# WHY ARE FILL MISSING VALUE IN DATA

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\SHUBHAM KUMAR\Desktop\framingham.csv")

In [3]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [4]:
dataset=data

In [5]:
dataset.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [6]:
data.shape

(4240, 16)

In [7]:
dataset.columns

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [8]:
#HERE WE ARE CHECKING THE NULL VALUE IN DATA.
dataset.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

# HERE WE WILL CHECK, WHAT IS OUR ACCURECY , WHEN WE ARE DROP THAT FEATURE (WHERE NULL VALUES ARE PRESENT

In [9]:
data1=dataset.drop(["education","cigsPerDay","totChol","BMI","heartRate","glucose","BPMeds"],axis=1)

In [10]:
data1.isnull().sum()

male               0
age                0
currentSmoker      0
prevalentStroke    0
prevalentHyp       0
diabetes           0
sysBP              0
diaBP              0
TenYearCHD         0
dtype: int64

In [11]:
x=data1.drop(["diabetes"],axis=1)

In [12]:
y=data1["diabetes"]

In [13]:
x.head()

,male,age,currentSmoker,prevalentStroke,prevalentHyp,sysBP,diaBP,TenYearCHD
0,1,39,0,0,0,106.0,70.0,0
1,0,46,0,0,0,121.0,81.0,0
2,1,48,1,0,0,127.5,80.0,0
3,0,61,1,0,1,150.0,95.0,1
4,0,46,1,0,0,130.0,84.0,0

In [14]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: diabetes, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [17]:
#I am using Naive Bayes model for easy to uderstanding

In [18]:
from sklearn.naive_bayes import GaussianNB

In [19]:
model_ = GaussianNB()

In [20]:
model_.fit(x_train, y_train)

GaussianNB()

In [21]:
test_prediction = model_.predict(x_test)
test_prediction

array([0, 0, 1, ..., 0, 1, 0], dtype=int64)

In [22]:
test_prediction.shape

(1272,)

In [23]:
y_test

534     0
2751    0
3599    0
518     0
3813    0
       ..
1962    0
346     0
2346    0
582     0
3626    0
Name: diabetes, Length: 1272, dtype: int64

In [24]:
from sklearn import metrics
print("Model Accuracy: {0:.4f}".format(metrics.accuracy_score(y_test, test_prediction)))

Model Accuracy: 0.6085

In [25]:
#we have seen above our accuracy is too bad. Because we have dropped 7 columns out of 17.

In [26]:
train_predict = model_.predict(x_train)
train_predict

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [27]:
from sklearn import metrics

print("Model Accuracy: {0:.4f}".format(metrics.accuracy_score(y_train, train_predict)))

Model Accuracy: 0.5772

# TO IMPROVE OUR ACCURACY WE  FILL ALL THE NULL VALUE....

In [28]:
dataset.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [29]:
from sklearn.impute import SimpleImputer

In [30]:
#simple imputer is a library it calculates all the column mean, check all null value and replace by that 
#-column mean("mean" because here strategy is mean)

In [31]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')

In [32]:
imp_mean.fit(data)

SimpleImputer()

In [33]:
data2=imp_mean.transform(data)

In [34]:
data2=pd.DataFrame(data2,columns=['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'])

In [35]:
data2.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [36]:
data2.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1.0,39.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,195.0,106.0,70.0,26.97,80.0,77.0,0.0
1,0.0,46.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,250.0,121.0,81.0,28.73,95.0,76.0,0.0
2,1.0,48.0,1.0,1.0,20.0,0.0,0.0,0.0,0.0,245.0,127.5,80.0,25.34,75.0,70.0,0.0
3,0.0,61.0,3.0,1.0,30.0,0.0,0.0,1.0,0.0,225.0,150.0,95.0,28.58,65.0,103.0,1.0
4,0.0,46.0,3.0,1.0,23.0,0.0,0.0,0.0,0.0,285.0,130.0,84.0,23.10,85.0,85.0,0.0

In [37]:
x1= data2.drop(["diabetes"],axis=1)

In [38]:
x1.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1.0,39.0,4.0,0.0,0.0,0.0,0.0,0.0,195.0,106.0,70.0,26.97,80.0,77.0,0.0
1,0.0,46.0,2.0,0.0,0.0,0.0,0.0,0.0,250.0,121.0,81.0,28.73,95.0,76.0,0.0
2,1.0,48.0,1.0,1.0,20.0,0.0,0.0,0.0,245.0,127.5,80.0,25.34,75.0,70.0,0.0
3,0.0,61.0,3.0,1.0,30.0,0.0,0.0,1.0,225.0,150.0,95.0,28.58,65.0,103.0,1.0
4,0.0,46.0,3.0,1.0,23.0,0.0,0.0,0.0,285.0,130.0,84.0,23.10,85.0,85.0,0.0

In [39]:
y1=data2["diabetes"]

In [40]:
y1.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: diabetes, dtype: float64

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size=0.3, random_state=1)

In [43]:
from sklearn.naive_bayes import GaussianNB

In [44]:
model_ = GaussianNB()

In [45]:
model_.fit(x1_train, y1_train)

GaussianNB()

In [46]:
test1_prediction = model_.predict(x1_test)
test1_prediction

array([0., 0., 0., ..., 0., 0., 0.])

In [47]:
y1_test

534     0.0
2751    0.0
3599    0.0
518     0.0
3813    0.0
       ...
1962    0.0
346     0.0
2346    0.0
582     0.0
3626    0.0
Name: diabetes, Length: 1272, dtype: float64

In [48]:
from sklearn import metrics
print("Model Accuracy: {0:.4f}".format(metrics.accuracy_score(y1_test, test1_prediction)))

Model Accuracy: 0.8656

In [49]:
#we have seen here our accuracy is improve by 25%.

In [50]:
train1_predict = model_.predict(x1_train)
train1_predict

array([0., 0., 0., ..., 0., 0., 0.])

In [51]:
from sklearn import metrics

print("Model Accuracy: {0:.4f}".format(metrics.accuracy_score(y1_train, train1_predict)))

Model Accuracy: 0.8683

In [52]:
from sklearn.impute import SimpleImputer

In [53]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='median')

In [54]:
imp_mean.fit(data)

SimpleImputer(strategy='median')

In [55]:
data3=imp_mean.transform(dataset)

In [56]:
data3=pd.DataFrame(data3,columns=['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'])

In [57]:
x2= data3.drop(["diabetes"],axis=1)

In [58]:
y2=data3["diabetes"]

In [59]:
from sklearn.model_selection import train_test_split
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.3, random_state=1)

In [60]:
from sklearn.naive_bayes import GaussianNB

In [61]:
model_ = GaussianNB()
model_.fit(x2_train, y2_train)

GaussianNB()

In [62]:
test2_prediction = model_.predict(x2_test)
test2_prediction
test2_prediction.shape

(1272,)

In [63]:
y2_test

534     0.0
2751    0.0
3599    0.0
518     0.0
3813    0.0
       ...
1962    0.0
346     0.0
2346    0.0
582     0.0
3626    0.0
Name: diabetes, Length: 1272, dtype: float64

In [64]:
from sklearn import metrics
print("Model Accuracy: {0:.4f}".format(metrics.accuracy_score(y2_test, test2_prediction)))

Model Accuracy: 0.8648

In [65]:
train2_predict = model_.predict(x2_train)
train2_predict

array([0., 0., 0., ..., 0., 0., 0.])

In [66]:
from sklearn import metrics

print("Model Accuracy: {0:.4f}".format(metrics.accuracy_score(y2_train, train2_predict)))

Model Accuracy: 0.8683

In [67]:
from sklearn.impute import KNNImputer

In [68]:
knn_imput= KNNImputer(n_neighbors=2)

In [73]:
dataset=knn_imput.fit_transform(dataset)

In [79]:
data5=pd.DataFrame(dataset,columns=['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'])

In [80]:
data5.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [82]:
x3= data5.drop(['diabetes'],axis=1)

In [83]:
y3=data5['diabetes']

In [84]:
from sklearn.model_selection import train_test_split
x3_train, x3_test, y3_train, y3_test = train_test_split(x3, y3, test_size=0.3, random_state=1)
from sklearn.naive_bayes import GaussianNB
model_ = GaussianNB()
model_.fit(x3_train, y3_train)

GaussianNB()

In [85]:
test3_prediction = model_.predict(x3_test)
test3_prediction
test3_prediction.shape

(1272,)

In [86]:
from sklearn import metrics
print("Model Accuracy: {0:.4f}".format(metrics.accuracy_score(y3_test, test3_prediction)))
train3_predict = model_.predict(x3_train)
train3_predict

Model Accuracy: 0.8608

array([0., 0., 0., ..., 0., 0., 0.])

In [87]:
from sklearn import metrics

print("Model Accuracy: {0:.4f}".format(metrics.accuracy_score(y3_train, train3_predict)))

Model Accuracy: 0.8662